dnspython==2.1.0
Flask==1.1.2
Flask-PyMongo==2.3.0
json5==0.9.5
jsonschema==3.2.0
pipenv==2020.8.13
pymongo==3.11.3
python-dateutil
requests==2.24.0
simplejson==3.17.2
virtualenv==20.0.33
virtualenv-clone==0.5.4
gunicorn