<!DOCTYPE html>
<html>
    <head>
        <h1>Get Vaccinated</h1>
        <meta charset= "utf-8">
        <link rel = "stylesheet" href = "../static/css/style.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body >
        <div class="wrapper">
            <form action = '/availabilty' method = 'POST'>
            <div class="search-input">
                <input name  = 'Pincode' type = "text" placeholder="Enter Pincode..." required = 'required'>
                <div class="autocom-box">
                    <li>127021</li>
                    <li>127021</li>
                    <li>127021</li>
                    <li>127021</li>
                    <li>127021</li>
                </div>
                <div class="icon"><i class="fa fa-search"></i></div>
            </div>
            <input class = 'submit-btn' type = 'submit' value = 'search'>
        </div>
    </form>
        <script src="../static/js/suggestions.js"></script>
        <script src ="../static/js/script.js"></script>
    </body>
</html>